// 語意化色票
$drvet_orange: #f2af44;
$drvet_red: #cb5c5c;
$drVet_blue: #3e414f;
$lightgrey: #efefef;
$gray: #c4c4c4;

// 斷點
$mobile-small: 240px; 
$mobile-large: 320px; 
$tablet-small: 480px; 
$tablet-large: 768px; 
$screen-small: 1024px; 
$screen-large: 1280px;

// mixin
// Break Point斷點
@mixin RWD($breakPoint) {
  @media (min-width: $breakPoint) {
    @content;
  }
};

@mixin font-setting($size, $weight, $family) {
  font-size: $size;
  font-weight: $weight;
  font-family: $family;
  
};

@mixin tomato-border {
  border: 0.5px dashed tomato;
};

@mixin container-direction($direction) {
  display: flex;
  align-items: center;
  height: 100%;

  @if $direction == center {
    justify-content: center;
  } @else if $direction == right {
    justify-content: flex-start;
  } @else if $direction == left {
    justify-content: flex-end;
  } @else {
    @error "Unknown direction #{$direction}.";
  }
};

@mixin img-replace-text($width,$height,$url){
  display: block;
  width: $width;
  height: $height;
  background: url($url);
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
};

// reset
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// 共用class
.bg-gray {
  background: $drVet_blue;
  color: $lightgrey;
}

.bg-lightgray {
  background: $lightgrey;
  color: #000;
}

.bg-orange {
  background: $drvet_orange;
  color: $lightgrey;
}

.bg-red {
  background: $drvet_red;
  color: $lightgrey;
}

.my-btn {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 20px;
  padding: 10px 20px;
  @include font-setting(16px, bold, "微軟正黑體");
  text-decoration: none;
  cursor: pointer;
}

.my-btn-xl {
  display: block;
  margin: 0 auto;
  width: 130px;
  height: 50px;
  text-align: center;
  line-height: 25px;
  padding: 10px 20px;
  @include font-setting(24px, bold, "微軟正黑體");
  text-decoration: none;
  cursor: pointer;
}

.btn-red {
  color: black;
  background-color: $drvet_orange;
  &:hover,
  &:active {
    background-color: lighten($drvet_orange, 10%);
    color: black;
  }
  &:active {
    top: 1px;
    position: relative;
  }
}

.btn-red-w {
  color: #efefef;
  background-color: $drvet_orange;
  &:hover,
  &:active {
    background-color: lighten($drvet_orange, 10%);
    color: #efefef;
  }
  &:active {
    top: 1px;
    position: relative;
  }
}

.btn-gray {
  color: black;
  background-color: $lightgrey;
  &:hover,
  &:active {
    background-color: lighten($lightgrey, 10%);
    color: black;
  }
  &:active {
    top: 1px;
    position: relative;
  }
}

.btn-outline-red {
  color: $lightgrey;
  background-color: $drvet_red;
  border: 1px solid #c4c4c4;
  margin: -1px;
  &:hover,
  &:active {
    color: $lightgrey;
    background-color: lighten($drvet_red, 10%);
  }
  &:active {
    top: 1px;
    position: relative;
  }
}

.btn-outline-gray {
  color: $drVet_blue;
  background-color: $lightgrey;
  border: 1px solid $drVet_blue;
  &:hover,
  &:active {
    color: $drVet_blue;
    background-color: lighten($lightgrey, 10%);
  }
  &:active {
    top: 1px;
    position: relative;
  }
}

// 圖片取代文字
.logo a {
  @include img-replace-text(260px,100px ,"https://fakeimg.pl/120x60/?retina=1&text=O診所名稱&font=noto");
}

// 客製化

.board-controll {
  width: 100%;
  .board {
    width: 100%;
    color: $gray;
    height: 100%;
    @include font-setting(16px, 400, "微軟正黑體");
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 2px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.4);
  }
  .typing {
    @include font-setting(24px, 600, "微軟正黑體");
    color: $drVet_blue;
  }
}
.type-wrap {
  display: grid;
  justify-content: center;
  grid-template-columns: 85px 85px 85px;
  grid-auto-rows: 85px;
  grid-gap: 5px;
}
.type-item {
  background: $drVet_blue;
  color: $gray;
  @include font-setting(36px, 600, "微軟正黑體");
  line-height: 85px;
  cursor: pointer;
  transition: transform 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75); 
  &:nth-child(10) {
    background: $drvet_red;
    &:hover,
    &:active {
      background: darken($drvet_red, 10%);
      transform: scale(1.1, 1.1);
    }
  }
  &:hover,
  &:active {
    background: darken($drVet_blue, 10%);
    transform: scale(1.1, 1.1);
  }
}

.info-list dd {
  color: $drVet_blue;
  line-height: 16px;
  h5 {
    font-weight: 500;
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
}

.note p {
  color: $gray;
}

.title {
  @include font-setting(36px, 600, "微軟正黑體");
  letter-spacing: 16px;
  line-height: 36px;
  width: 280px;
  color: $drvet_orange;
  border-bottom: 5px solid $drvet_orange;
}

.time-warp p {
  font-size: 16px;
  line-height: 4px;
}

.btn-warp a {
  display: inline-block;
  margin: 10px;
}