// 語意化色票
$drvet_orange: #f2af44;
$drvet_red: #cb5c5c;
$drVet_blue: #3e414f;
$lightgrey: #efefef;
$gray: #c4c4c4;

// reset

ul,
li {
  list-style-type: none; /* 拿掉前方圈圈 */
  margin: 0;
  padding: 0;
}

// 共用class

.bg-gray {
  background: $drVet_blue;
  color: $lightgrey;
}

.bg-lightgray {
  background: $lightgrey;
  color: #000;
}

.bg-orange {
  background: $drvet_orange;
  color: $lightgrey;
}

.bg-red {
  background: $drvet_red;
  color: $lightgrey;
}

.my-btn {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: "微軟正黑體";
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.btn-red {
  color: black;
  background-color: $drvet_orange;
  &:hover {
    background-color: lighten($drvet_orange, 10%);
    color: black;
  }
  &:active {
    top: 1px;
    position: relative;
  }
}

.btn-red-w {
  color: #efefef;
  background-color: $drvet_orange;
  &:hover {
    background-color: lighten($drvet_orange, 10%);
    color: #efefef;
  }
  &:active {
    top: 1px;
    position: relative;
  }
}

.btn-gray {
  color: black;
  background-color: $lightgrey;
  &:hover {
    background-color: lighten($lightgrey, 10%);
    color: black;
  }
  &:active {
    top: 1px;
    position: relative;
  }
}

.btn-outline-red {
  color: $lightgrey;
  background-color: $drvet_red;
  border: 1px solid #c4c4c4;
  margin: -1px;
  &:hover {
    color: $lightgrey;
    background-color: lighten($drvet_red, 10%);
  }
  &:active {
    top: 1px;
    position: relative;
  }
}

.btn-outline-gray {
  color: $drVet_blue;
  background-color: $lightgrey;
  border: 1px solid $drVet_blue;
  &:hover {
    color: $drVet_blue;
    background-color: lighten($lightgrey, 10%);
  }
  &:active {
    top: 1px;
    position: relative;
  }
}

// 圖片取代文字
.logo a {
  display: block;
  width: 260px;
  height: 100px;
  background: url(https://fakeimg.pl/120x60/?retina=1&text=公司logo&font=noto);
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

// 客製化

.phone-box {
  width: 100%;
  color: $gray;
  height: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 2px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.4);
}

.type-wrap {
  display: grid;
  justify-content: center;
  grid-template-columns: 85px 85px 85px;
  grid-auto-rows: 85px;
  grid-gap: 2px;
}
.type-item {
  background: $drVet_blue;
  color: $gray;
  font-size: 36px;
  font-weight: 600;
  line-height: 85px;
  cursor: pointer;
  &:nth-child(10) {
    background: $drvet_red;
  }
}

.info-list li {
  color: $drVet_blue;
  line-height: 16px;
  h5 {
    font-weight: 500;
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
}

.note p {
  color: $gray;
}

.title {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 16px;
  line-height: 36px;
  width: 280px;
  color: $drvet_orange;
  border-bottom: 5px solid $drvet_orange;
}

.time-warp p {
  font-size: 16px;
  line-height: 4px;
}

.btn-warp a {
  margin: 10px;
}