@charset "UTF-8";
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

* {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

.bg-gray {
  background: #3e414f;
  color: #efefef;
}

.bg-lightgray {
  background: #efefef;
  color: #000;
}

.bg-orange {
  background: #f2af44;
  color: #efefef;
}

.bg-red {
  background: #cb5c5c;
  color: #efefef;
}

.my-btn {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: "微軟正黑體";
  text-decoration: none;
  cursor: pointer;
}

.my-btn-xl {
  display: block;
  margin: 0 auto;
  width: 130px;
  height: 50px;
  text-align: center;
  line-height: 25px;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  font-family: "微軟正黑體";
  text-decoration: none;
  cursor: pointer;
}

.btn-red {
  color: black;
  background-color: #f2af44;
}
.btn-red:hover, .btn-red:active {
  background-color: #f5c374;
  color: black;
}
.btn-red:active {
  top: 1px;
  position: relative;
}

.btn-red-w {
  color: #efefef;
  background-color: #f2af44;
}
.btn-red-w:hover, .btn-red-w:active {
  background-color: #f5c374;
  color: #efefef;
}
.btn-red-w:active {
  top: 1px;
  position: relative;
}

.btn-gray {
  color: black;
  background-color: #efefef;
}
.btn-gray:hover, .btn-gray:active {
  background-color: white;
  color: black;
}
.btn-gray:active {
  top: 1px;
  position: relative;
}

.btn-outline-red {
  color: #efefef;
  background-color: #cb5c5c;
  border: 1px solid #c4c4c4;
  margin: -1px;
}
.btn-outline-red:hover, .btn-outline-red:active {
  color: #efefef;
  background-color: #d78383;
}
.btn-outline-red:active {
  top: 1px;
  position: relative;
}

.btn-outline-gray {
  color: #3e414f;
  background-color: #efefef;
  border: 1px solid #3e414f;
}
.btn-outline-gray:hover, .btn-outline-gray:active {
  color: #3e414f;
  background-color: white;
}
.btn-outline-gray:active {
  top: 1px;
  position: relative;
}

.logo a {
  display: block;
  width: 35px;
  height: 35px;
  background: url("https://fakeimg.pl/35x35/?retina=1&text=O&font=noto");
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.board-controll {
  width: 100%;
}
.board-controll .board {
  width: 100%;
  color: #c4c4c4;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  font-family: "微軟正黑體";
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 2px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.4);
}
.board-controll .typing {
  font-size: 24px;
  font-weight: 600;
  font-family: "微軟正黑體";
  color: #3e414f;
}

.type-wrap {
  display: grid;
  justify-content: center;
  grid-template-columns: 85px 85px 85px;
  grid-auto-rows: 85px;
  grid-gap: 5px;
}

.type-item {
  background: #3e414f;
  color: #c4c4c4;
  font-size: 36px;
  font-weight: 600;
  font-family: "微軟正黑體";
  line-height: 85px;
  cursor: pointer;
  transition: transform 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
}
.type-item:nth-child(10) {
  background: #cb5c5c;
}
.type-item:nth-child(10):hover, .type-item:nth-child(10):active {
  background: #b93b3b;
  transform: scale(1.1, 1.1);
}
.type-item:hover, .type-item:active {
  background: #282932;
  transform: scale(1.1, 1.1);
}

.info-list dd {
  color: #3e414f;
  line-height: 16px;
}
.info-list dd h5 {
  font-size: 18px;
  font-weight: 500;
  font-family: "微軟正黑體";
}
.info-list dd p {
  font-size: 16px;
  font-weight: 400;
  font-family: "微軟正黑體";
}

.note p {
  font-size: 18px;
  font-weight: 600;
  font-family: "微軟正黑體";
  color: #cb5c5c;
}

.title {
  font-size: 36px;
  font-weight: 600;
  font-family: "微軟正黑體";
  letter-spacing: 16px;
  line-height: 36px;
  width: 280px;
  color: #f2af44;
  border-bottom: 5px solid #f2af44;
}

.time-warp p {
  font-size: 16px;
  line-height: 4px;
}

.btn-warp a {
  display: inline-block;
  margin: 10px;
}

/*# sourceMappingURL=all.css.map */
